body{
    font-family: 'Lato', sans-serif;
}
/* header related styles */
header{
    background-color: rgba(229, 84, 115, 0.10);
    ;
    width: 1920px;
    height: 907px;
}
.header-tagline{
    background-image: url(../Flower\ Asset/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: right;
    display:block;
    padding:50px 240px 0px 90px;

}
.header-heading{
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    width: 700px;
    height: 280px;
    padding: 197px 97px 0px 240px;
}
#header-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 630px;
    height: 90px;
    padding: 32px 171px 0px 240px;
    margin-right: 117px;
    flex-direction: column;
}
/* button related styles */
.btn-primary{
    border-radius: 8px;
    border-color: #E55473;
    background: #E55473;
    display: flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color:#FFFFFF;
}
#header-btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin:32px 628px 147px 240px;
}
/* main styles */
#featured-header{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top:178px;
}
.main-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width:590px;
    height:60px;
    padding:24px 662px 48px 662px;
}
.featured-figures{
    padding: 115px 200px 32px 200px;
}
#pink-flower-tree-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
}
#pink-flower-tree-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding:117px 47px 51px 47px;
                    
}
#pink-flower-tree-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding:67px 75px 0px 75px;
}
.caption-paragraph{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.caption{
    padding: 150px 150px 150px 150px;
}
.service-logo{
    display: flex;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius:8px;
    width: 1400px;
    height: 320px;
    align-items: center;
    justify-content: center;
    margin-left:240px;
    margin-right:240px;
    margin-top:100px;
}
.services{
    padding: 100px 100px 100px 100px;
}
#hot-deals{
    background-color: rgba(229, 84, 115, 0.05);
    max-width:1920px;
    height:450px;
    background-image: url(../Flower\ Asset/pngwing\ 8.png);
    background-repeat: no-repeat;
    background-position:120cqmin;
    padding:200px 50px 100px 395px;
    margin-top:128px;
    align-items: center;
    display:block;
}
#btn-hot-deals{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin:32px 628px 147px 0px;
}
#btn-email{
    margin: 40px 645px ;
}
/* social promotion related styles */
#instagram >div{
    text-align:center;
}
#more-flowers{
    display: flex;
    width: 1400px;
    height: 320px;
    align-items: center;
    justify-content: center;
    margin-left:240px;
    margin-right:240px;
    margin-top:100px;
}
/* subscription related styles */
#insert-email{
    background-image: url(../Flower\ Asset/Rectangle\ 9.png);
    text-align: center;
    display: block;
    margin-top: 100px;
    width: 1440px;
    height: 449px;
    margin-left: 240px;
    margin-right: 240px;
}
#email-paragraph{
    margin-top: 100px;
    padding-top: 160px;;
}
/* footer related styles */
#footer-text{
    text-align: center;
    background-color: #111010;
    width: 1922px;
    height: 449px;
    padding-top: 100px;
}